// Colors
$black: black;
$white: white;
$red: #ff2424;

// The Buy Guide Colors
$background: #FBF9F6;
$backgroundProductPage: #F5F3EF;
$footerBackground: #EAE8E3;
$shopButton: #E2DDD5;
$accent: #DE9C00;
$sticker: #C1D0D5;
$hearts: #AA6B36;
$subheadColor: #A49990;
$btnBackground: #F2F1EE;