// Homepage styles

.banner {
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    h2 {
        margin-top: 4rem;
    }
}

.background-image {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}